html{
    scroll-behavior: smooth;
}

body{
    background-color: #ffffff;
    color:#4d4e53;
    min-width: 290px;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}
#navbar{
    position: fixed;
    width:300px;
    top:0px;
    left:0px;
    height:100vh;
    border-right:solid;
    border-color:#fff;
    box-shadow:2px 0 5px rgba(0,0,0,0.05);
    
}
header{
    color:black;
    margin:10px;
    text-align:center;
    font-size:1.8em;
    font-weight:thin;
}
#main-doc header{
    text-align:left;
    margin:0;
}
#navbar ul{
    height:88%;
    padding:0;
    overflow-y: auto;
    overflow-x: hidden;

}
#navbar li{
    color:#4d4e53;
    border-top:1px solid rgba(0,0,0,0.1);
    list-style: none;
    position: relative;
    width:100%;
}
#navbar a{
    display:block;
    padding:10px 30px;
    color:#4d4e53;
    text-decoration:none;
    cursor:pointer;
}
#navbar header{
    text-align: center;
    font-weight:700;
    font-size:1.7rem;
    border-bottom:1px solid rgba(0,0,0,0.1);
} 
#main-doc{
    position:absolute;
    margin-left: 300px;
    margin-bottom: 110px;
    padding: 40px;
    max-width:900px;
    margin-top: 0px;
}
section p{
    color:#4d4e53;
    margin:15px;
    font-size:0.96em;
}
section li{
    margin:15px 0px opx 20px;
}
code {
  background-color: #f7f7f7;
  color: #222;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 0.9em;
  font-family: 'Fira Code', monospace;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

@media only screen and (max-width:815px){
    /*mobile phones*/
    #navbar ul{
        border:1px solid;
        height:207px;
    }
    #navbar{
        background-color:white;
        position:absolute;
        top:0;
        padding: 0;
        margin:0;
        width:100%;
        max-height:10px;
        border:none;
        z-index:1;
        border-bottom: 2px solid;
    }
    #main-doc{
        position:relative;
        margin-left: 0;
        margin-top: 270px;
    }
}